name: Publish
on:
  push:
    branches:
      - "*"

jobs:
  linter:
    runs-on: ubuntu-latest
    steps:
      - name: Setup rep
        uses: actions/checkout@v4

      - name: Setup Deno
        uses: denoland/setup-deno@v2
        with:
          deno-version: v2.x

      - name: Run linter
        run: deno lint

