name: Publish
on:
  push:
    branches:
      - "*"

jobs:
  linter:
    runs-on: ubuntu-latest
    steps:
      - name: Setup rep
        uses: actions/checkout@v4

      - name: Setup Deno
        uses: denoland/setup-deno@v2
        with:
          deno-version: v2.x

      - name: Run linter
        run: deno lint

  publish-npm:
    needs: [linter]
    if: github.ref == 'refs/heads/main'
    runs-on: ubuntu-latest

    permissions:
      contents: read
      id-token: write

    steps:
      - name: Setup repo
        uses: actions/checkout@v4

      - name: Setup Deno
        uses: denoland/setup-deno@v2
        with: 
          deno-version: v2.x

      - name: Build js version
        run: deno task build

      - uses: actions/setup-node@v4
        with:
          node-version: '20.x'
          registry-url: 'https://registry.npmjs.org'
      - run: npm ci
      - run: npm publish ./dist --provenance --access public 
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
